section.h-custom {
  height: fit-content !important;
  div.quantity {
    button {
      font-weight: bold;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    input {
      width: 20px;
      outline: none;
      border: none;
      text-align: center;
      margin: 0 5px;
      color: #6c757d;
    }
  }
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #eae8e8;
}

@media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width: 991px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width: 768px) {
  section.h-custom {
    img.main-img {
      width: 100% !important;
      height: fit-content !important;
    }
    div.gooood {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    div.remove {
      button {
        font-size: 25px;
      }
    }
  }
}
