div.categorie {
  div.row {
    padding: 0;
    margin: 0;

    div.col {
      padding: 0;
      margin: 0;
    }
  }
  div.card {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: cover;
    }

    span {
      z-index: 5;
      background-color: #ffffff85;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      border-radius: 5px;
      padding: 3px 10px;
      cursor: pointer;
      width: 5px;
      transition: all 0.3s ease-out;
    }
    &:hover {
      span {
        color: white;
        background-color: teal;
        letter-spacing: 4px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  div.right-category {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  div.sale-category {
    display: none !important;
  }
}
